<!-- portfolio/templates/portfolio/about.html -->
{% extends 'base.html' %}

{% block title %}About - Your Portfolio{% endblock %}

{% block content %}
    <section id="about" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>About Me</h2>
                    <p>
                        I'm a Full Stack Developer fueled by a commitment to continuous learning, staying at the forefront of technological advancements.
                        Besides being a web developer, I'm a passionate tech enthusiast dedicated to innovating and delivering seamless digital experiences.
                    </p>
                    <h3>Expertise</h3>
                    <ul>
                        <li>Python</li>
                        <li>PostgreSQL</li>
                        <li>Django</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Git and Github</li>
                        <li>Windows Server 2022</li>
                    </ul>
                    <h3>Tech Expert with Diverse Skills</h3>
                    <p>
                        Computer Repair | Software Configuration | Customer Service.
                    </p>
                    <h3>Languages</h3>
                    <ul>
                        <li>Albanian - Native</li>
                        <li>English - C2</li>
                        <li>Macedonian - C2</li>
                        <li>Spanish - C1</li>
                        <li>German - B2</li>
                    </ul>
                    <h3>Education</h3>
                    <p>
                        <strong>2005-2010:</strong> Computer Science and Communication<br>
                        SEEU University, North Macedonia
                    </p>
                    <h3>Self-taught Programming</h3>
                    <p>
                        Udemy courses:
                        <ul>
                            <li>Python 3: Deep Dive (OOP)</li>
                            <li>Python 3: Deep Dive (Functional)</li>
                            <li>100 Days of Code: The Complete Python Pro Bootcamp</li>
                        </ul>
                        DCI Digital Career Institute GmbH
                        <ul>
                            <li>Python</li>
                            <li>PostgreSQL</li>
                            <li>Django</li>
                            <li>Fast API</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
